# PostgreSQL local dentro de Docker
POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppass
POSTGRES_DB=appdb

# Conexión del backend al servicio postgres de Docker Compose
DATABASE_URL=postgresql://appuser:apppass@postgres:5432/appdb
JWT_SECRET=f6be0afc9cfb600fc3dafa80246dafd4de569d54a24aa984cbe2763fc3c051e5ddb42a0620e5d6e6304885cd20cd1e1558f8cc9ab572125dbae4173f5d6e8472
# URL pública que usa el frontend para comunicarse con el backend
VITE_API_URL=http://localhost:3000

